//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.header
      div.container
        div.avatar.img-container.col-lg-2.col-md-2.col-sm-2.hidden-xs
          img.service-icon(src='/images/app.png')
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:50px;").service-title='creaTed character analysis'
          p='Analysing the personalities of characters within the play \'creaTed\' by Adrienne Ferguson'
